.tickers__container
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
  a
    text-decoration: none

.react-select-container
  max-width: 600px
  width: 100%
  margin: 0 auto

.react-select__menu div div:hover
  color: #ffffff
  background-color: rgba(59, 153, 252, .7)
  
