.Form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  background: #c1dbf5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

hr {
  margin: 20px 0;
}