.Input {
    margin-bottom: 15px;
}

.Input label {
    text-align: left;
    margin-bottom: 3px;
    padding: 0;
    color: #000000;
    display: block;
}

.Input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #819aa0;
    padding: 7px;
    margin: 0 0 5px;
    background-color: #E8F0FE !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
}

.Input input:-internal-autofill-selected {
    background-color: #E8F0FE !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

.Input input:focus {
    outline: none;
    background-color: #E8F0FE !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

.Input span {
    color: #f44336;
    font-size: 12px;
    font-weight: bold;
}

.Input.invalid label {
    color: #f44336;
}
