.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: #0a0a0a;
  align-content: center;
  justify-content: center;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
  width: 100%;
  border: 2px solid #524c4c;
  justify-content: center;
  margin: auto;
  box-shadow: inset 0px 0px 0px 10px cadetblue;
}

.Layout h1 {
  text-align: center;
}