.tickers, .tickersC {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
}

.tickers__container a,
.tickersC__container a {
  text-decoration: none;
}

.select {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}