.currency {
  /* border: solid 1px rgba(0, 0, 0, 0.05); */
  position: relative;
  border-bottom: 1px dotted black;
}
/* .currency p {
  color: rgba(0, 0, 0, 0.75);
} */

.currency__ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 50%;
  width: 100%;
}

.currency__ul > li:nth-of-type(odd) {
  background-color: #e9e9f9 ;
}

.currency__ul > li {
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  padding: 1px;
}

.currency__ul > li:last-child {
  border-bottom: none;
  margin-bottom: 10px;
}

.currency .currency__tooltiptext {
  visibility: hidden;
  width: 25%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 60%;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.currency .currency__tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.currency:hover .currency__tooltiptext {
  visibility: visible;
  opacity: 1;
}

.currency__name {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.red {
  color: red;
}

.green {
  color: green;
}