.App
  text-align: center

.App-header 
  background-color: #afafaf
  background: linear-gradient(90deg, rgba(172,162,166,1) 0%, rgba(53, 64, 79, 1) 100%)
  color: white
  font-size: 1.25rem
  margin: 0
  padding: 1rem

.nav li 
  display: inline-block
  margin-right: 10px

.nav a
  font-weight: 700
  text-decoration: none
  color: #000000