.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #1f4287;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: palevioletred; */
}

.page {
  margin: 0 auto;
  padding: 10px;
  background-color: #071e3d;
}

img {
  max-width: 100%;
  padding: 10px 0px;
}

button {
  height: 40px;
  width: 200px;
  font-size: 24px;
}