.App {
  text-align: center;
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #ccc;
}

.page {
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
  padding: 10px 0px;
}

button {
  height: 40px;
  width: 200px;
  font-size: 24px;
}